# Rust
target*
src/functions_gpu.rs_old
Cargo.lock
upppp_rust.cpython*

# Python
up4/__pycache__
rustAnalyser.cpython*
tests/fixtures/drum.hdf5
tests/text.txt
.idea
up4.egg-info
build

# General
*.zip
KonigCell
.vscode
docs/_build
docs/_static
json.json
plotly_playground.py
3D_quiver.py
